/* ---------------IMPORTS--------------- */

@import "colores";
@import "font";

@mixin border_r-1em ($color_border: $color_negro, $b_rad:1em) {
    border: .5px solid $color_border;
    border-radius: $b_rad;    
}


body{
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    row-gap: 5px;



    background:linear-gradient($color_negro--t40,$color_negro--t40), url(../assets/fondo.png) repeat center ;
    background-size: 10%;
    @include font();
    footer{
        @include border_r-1em();
        margin: 0px;
        padding: auto;
        width: 90%;
        background: $color_negro--t40;    
    }

}





h2{
    @extend .font__comfortaa;
    @include border_r-1em();
    width: 300px;

    text-align: center;
    text-decoration: underline;
    background-color: $color_negro--t40;

}

.font__comfortaa{
    @include font();
}

.bg__blak--trans{
    background-color: $color_negro--t40;
}

.bg__vainilla{
    background-color: $color_vainilla;
}

.border__radius--1em{
@include border_r-1em();
}







#cont_index{
    padding: 3em 3em;
}


/* ----------------------------------  MENU  ------------------------------- */

.menu__nav{
    margin: 0px;
    padding: 0px;
    width: 100%;
    background: $color_negro;
    @include border_r-1em($b_rad:1.5em);
    
    li{
        display: inline-block;
        
        a{
            margin: 10px;
            padding: 10px;
            display: inline-block;
            color: #fff;
        
        }
        a:hover{
            animation: BGcolor-hovers 6s linear infinite alternate both;
            color: $color_negro;
            display: block;
            @include border_r-1em($b_rad:1.5em);
        }
        
        @keyframes BGcolor-hovers {
            0% {
              background: rgb(206, 187, 17)
            }
            33.3333% {
              background: #ffc23d;
            }
            66.666% {
              background: #ce5d11;
            }
            100% {
              background: #ffca9f54;
            }
        }
    }
}



ul{
    text-align: center;
    list-style-type: none;
    @include font($f_zize:16px);
    margin: 0px;
    padding: 0px;
}



ol{
    text-align: center;
    list-style-type: none;
    @include font($f_zize:16px);
    margin: 0px;
    padding: 0px;
    text-align: center;
    padding: 1.5em 0.8em;
    

}

.form__container{
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
    .menu__nav--foot{
        margin: 0px;
        padding: 0px;
        width: 100%;
        background: rgba(0, 0, 0, 0.795);
        @include border_r-1em($b_rad:1.5em);
        li{
            display: block;
            a{
                margin: 10px;
                padding: 10px;
                display: block;
                color: #fff;
            
            }
            a:hover{
                background: $color_vainilla ;
                @include border_r-1em($b_rad:1.5em);
                color: $color_negro;
                display: block;
            }
        }
    }
}




/* ----------------------------------  MENU  ------------------------------- */

/* -----------------------------------  SUCURSALES  --------------------------------------- */

.cont__map--art{
    display: grid;
    grid-template-rows: 95% auto;
    grid-template-columns: auto;

    background-color: $color_negro--t40;
    @include border_r-1em();
    margin: auto;
    width: 100vh;
    height: 80vh;
    padding: 1.5em .5em;
    justify-items: center;
    align-content: center;
    align-items: stretch;
    .cont__map{
        display: grid;
        background-color: rgb(255, 255, 255);
        @include border_r-1em();
        margin-bottom: 5em;
        width: 100%;
        height: 100%;
        .map{
            display: grid;
            width: 100%;
            height: 100%;
            @include border_r-1em();
        }
        .map__input--search{
            @include border_r-1em();
            width: 100%;
            height: auto;
        }
    }
}





#search__map{
    @include font();
    text-align: center;
    text-overflow: ellipsis;
}


/* -----------------------------------  SUCURSALES  --------------------------------------- */
