/* ---------------IMPORTS--------------- */
@font-face {
  font-family: Comfortaa;
  src: url("../assets/Comfortaa/Comfortaa-VariableFont_wght.ttf");
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  justify-items: center;
  row-gap: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../assets/fondo.png) repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/fondo.png) repeat center;
  background-size: 10%;
  font-size: 20px;
  color: #ce8c11;
  font-family: Comfortaa;
}

body footer {
  border: 0.5px solid #000;
  border-radius: 1em;
  margin: 0px;
  padding: auto;
  width: 90%;
  background: rgba(0, 0, 0, 0.4);
}

h2 {
  border: 0.5px solid #000;
  border-radius: 1em;
  width: 300px;
  text-align: center;
  text-decoration: underline;
  background-color: rgba(0, 0, 0, 0.4);
}

.font__comfortaa, h2 {
  font-size: 20px;
  color: #ce8c11;
  font-family: Comfortaa;
}

.bg__blak--trans {
  background-color: rgba(0, 0, 0, 0.4);
}

.bg__vainilla {
  background-color: #ce8c11;
}

.border__radius--1em {
  border: 0.5px solid #000;
  border-radius: 1em;
}

#cont_index {
  padding: 3em 3em;
}

/* ----------------------------------  MENU  ------------------------------- */
.menu__nav {
  margin: 0px;
  padding: 0px;
  width: 100%;
  background: #000;
  border: 0.5px solid #000;
  border-radius: 1.5em;
}

.menu__nav li {
  display: inline-block;
}

.menu__nav li a {
  margin: 10px;
  padding: 10px;
  display: inline-block;
  color: #fff;
}

.menu__nav li a:hover {
  -webkit-animation: BGcolor-hovers 6s linear infinite alternate both;
          animation: BGcolor-hovers 6s linear infinite alternate both;
  color: #000;
  display: block;
  border: 0.5px solid #000;
  border-radius: 1.5em;
}

@-webkit-keyframes BGcolor-hovers {
  0% {
    background: #cebb11;
  }
  33.3333% {
    background: #ffc23d;
  }
  66.666% {
    background: #ce5d11;
  }
  100% {
    background: #ffca9f54;
  }
}

@keyframes BGcolor-hovers {
  0% {
    background: #cebb11;
  }
  33.3333% {
    background: #ffc23d;
  }
  66.666% {
    background: #ce5d11;
  }
  100% {
    background: #ffca9f54;
  }
}

ul {
  text-align: center;
  list-style-type: none;
  font-size: 16px;
  color: #ce8c11;
  font-family: Comfortaa;
  margin: 0px;
  padding: 0px;
}

ol {
  text-align: center;
  list-style-type: none;
  font-size: 16px;
  color: #ce8c11;
  font-family: Comfortaa;
  margin: 0px;
  padding: 0px;
  text-align: center;
  padding: 1.5em 0.8em;
}

.form__container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 1em;
  grid-auto-columns: 100%;
}

.form__container .menu__nav--foot {
  margin: 0px;
  padding: 0px;
  width: 100%;
  background: rgba(0, 0, 0, 0.795);
  border: 0.5px solid #000;
  border-radius: 1.5em;
}

.form__container .menu__nav--foot li {
  display: block;
}

.form__container .menu__nav--foot li a {
  margin: 10px;
  padding: 10px;
  display: block;
  color: #fff;
}

.form__container .menu__nav--foot li a:hover {
  background: #ce8c11;
  border: 0.5px solid #000;
  border-radius: 1.5em;
  color: #000;
  display: block;
}

/* ----------------------------------  MENU  ------------------------------- */
/* -----------------------------------  SUCURSALES  --------------------------------------- */
.cont__map--art {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 95% auto;
      grid-template-rows: 95% auto;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  background-color: rgba(0, 0, 0, 0.4);
  border: 0.5px solid #000;
  border-radius: 1em;
  margin: auto;
  width: 100vh;
  height: 80vh;
  padding: 1.5em .5em;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.cont__map--art .cont__map {
  display: -ms-grid;
  display: grid;
  background-color: white;
  border: 0.5px solid #000;
  border-radius: 1em;
  margin-bottom: 5em;
  width: 100%;
  height: 100%;
}

.cont__map--art .cont__map .map {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  border: 0.5px solid #000;
  border-radius: 1em;
}

.cont__map--art .cont__map .map__input--search {
  border: 0.5px solid #000;
  border-radius: 1em;
  width: 100%;
  height: auto;
}

#search__map {
  font-size: 20px;
  color: #ce8c11;
  font-family: Comfortaa;
  text-align: center;
  text-overflow: ellipsis;
}

/* -----------------------------------  SUCURSALES  --------------------------------------- */
/*# sourceMappingURL=estilos.css.map */